@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins' sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: #080808; */
  color: #fff;
}

/* Header */

#header {
  /* width: 100vw; */
  height: 100vh;
  background-image: url('./images/background3.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul .header-link {
  margin: 10px 20px;
}

nav ul .header-icon {
  margin: 10px 5px;
}

nav ul li a {
  font-family: 'Nirvana';
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: 1px;
}

nav ul li .icon {
  width: 25px;
}

.header-text {
  margin-top: 20%;
  font-size: 40px;
  letter-spacing: 1px;
}

.header-text h1 {
  font-size: 80px;
  margin-top: 20px;
}

/* main */
.main {
  height: 100%;
  background: linear-gradient(black, #0F70BD, #FFFCDD);

}

/* Biographie */

#biographie {
  padding: 80px 0;
  color: #ababab;
}

.align-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bio-col-1 {
  flex-basis: 35%;
}

.bio-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.bio-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-family: 'Nirvana';
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

/* Discographie */

.tab-titles {
  display: flex;
  margin: 15px 0;
}

.tab-links {
  margin: 30px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #821916;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.texte {
  display: none;
}

.bouton
{
    background-color: #ababab;
    padding: 7px;
    border-radius: 15px;
    font-size:22px;
    color: #262626;
    cursor:pointer;
}

/* .albums {
  display: flex;
} */
.card {
  background: none;
  border: none
}

.albums .album {
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.tab-contents img {
  display: inline-block;
  width: 220px;
}

.info {
  text-align: center;
  color: black;
  white-space: normal;
  font-size: 14px;
}

.info h3 {
  font-size: 20px;
}

/* Videos */

#videos {
  padding: 30px 0;
}

.album-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
}

.video-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Footer */

.footer {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
}

.footer p {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 300;
}


/* video 2 */
.slider-box {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 850px;
}

.main-slider {
  position: relative;
  width: 1000px;
  padding-top: 320px;
  margin: 20px auto;
  box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.8);
}

.main-slider img {
  width: 100%;
}

.main-slider .imgcheck {
  width: 100px;
}

.main-slider>video {
  position: absolute;
  left: 0;
  top: 0;
  transition: all .6s;
}

.main-slider input[name='ani'] {
  display: none;
}

.main-slider label {
  margin: 0px 0 0 20px;
  border: 2px solid #888;
  float: left;
  cursor: pointer;
  transition: all .6s;
  opacity: 0.8;
}

.main-slider label img {
  display: block;
}

.main-slider input[name='ani']:checked+label {
  border-color: #777;
  opacity: 1;
}

.main-slider input[name='ani']~video {
  opacity: 0;
  transform: scale(1.1);
}

.main-slider input[name='ani']:checked+label+video {
  opacity: 1;
  transform: scale(1);
}


/* media */

nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {

  /* header */
  #header {
    background-image: url('./images/phone-background2.png');
  }

  .header-text {
    margin-top: 110%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 50px;
  }

  nav .fas {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #0F70BD;
    position: fixed;
    top: 0;
    right: -170px;
    width: 170px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul .header-link {
    display: block;
    margin: 25px;
  }

  nav ul .header-icon {
    display: inline-block;
    margin-left: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  /* Biographie */

  .sub-title {
    font-size: 40px;
  }

  .bio-col-1,
  .bio-col-2 {
    flex-basis: 100%;
  }

  .bio-col-1 {
    margin-bottom: 30px;
  }

  .bio-col-2 {
    font-size: 14px;
  }

  /* discographie */
  .tab-links{
    font-size: 23px;
    margin: 15px 10px;
  }

  .tab-contents img {
    width: 130px;
  }
}